In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize']=(16,16)

In [2]:
df_incidents = pd.read_csv("csvs/incidents.csv", parse_dates=[0]) 
#df_incidents.drop(axis=1, columns=['Unique Key'], inplace=True)
df_incidents.set_index('Date Only', inplace=True)

df_weather = pd.read_csv("csvs/Weather_One_Shot.csv", index_col=0)
df_weather['Date Only'] = df_weather['DATE'].apply(lambda x: x[0:10])
df_weather.set_index('Date Only', inplace=True)
df_weather.drop(axis=1, columns=['DATE','Sunrise','Sunset'], inplace=True)

In [3]:
df_weather.head()

,DailyAverageDryBulbTemperature,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,wind2,Condition_Normal,Condition_Rain,Condition_Snow,Condition_Snowpack,Condition_Wind,Temperature_Cold,Temperature_Freezing,Temperature_Hot,Temperature_Warm
Date Only,,,,,,,,,,,,,,,
2015-01-01,33,31.0,0.00,0.0,0.0,31.0,1,0,0,0,0,1,0,0,0
2015-01-02,39,25.0,0.00,0.0,0.0,25.0,1,0,0,0,0,1,0,0,0
2015-01-03,38,18.0,0.71,0.0,0.0,18.0,0,1,0,0,0,1,0,0,0
2015-01-04,49,46.0,0.30,0.0,0.0,46.0,0,0,0,0,1,1,0,0,0
2015-01-05,35,38.0,0.00,0.0,0.0,38.0,0,0,0,0,1,1,0,0,0

In [4]:
df_incidents.head()

            count
Date Only
2015-01-01   4088
2015-01-02   5012
2015-01-03   4046
2015-01-04   3738
2015-01-05   6494

In [5]:
df_joined = df_weather.join(df_incidents)

In [6]:
df_joined.to_csv("csvs/joined.csv")

In [7]:
df_joined.head()

,DailyAverageDryBulbTemperature,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,wind2,Condition_Normal,Condition_Rain,Condition_Snow,Condition_Snowpack,Condition_Wind,Temperature_Cold,Temperature_Freezing,Temperature_Hot,Temperature_Warm,count
Date Only,,,,,,,,,,,,,,,,
2015-01-01,33,31.0,0.00,0.0,0.0,31.0,1,0,0,0,0,1,0,0,0,4088
2015-01-02,39,25.0,0.00,0.0,0.0,25.0,1,0,0,0,0,1,0,0,0,5012
2015-01-03,38,18.0,0.71,0.0,0.0,18.0,0,1,0,0,0,1,0,0,0,4046
2015-01-04,49,46.0,0.30,0.0,0.0,46.0,0,0,0,0,1,1,0,0,0,3738
2015-01-05,35,38.0,0.00,0.0,0.0,38.0,0,0,0,0,1,1,0,0,0,6494